@model List<NPGeek.Web.Models.Weather>

@{
    string units = Request.QueryString["units"];

    if (string.IsNullOrEmpty(units))
    {
        units = Model[0].Units;
    }
}

<div id="weather-block">
    <div class="today-weather">
        <table>
            <tr>
                <td colspan="4"><h1>Today</h1></td>
            </tr>
            <tr>
                <td colspan="4"><img src="~/Content/img/weather/@Model[0].ForecastImageName" /></td>
            </tr>
            <tr>
                <th><span>High:</span></th>
                <td><span>@Model[0].GetHighWithUnits(units)</span></td>
                <th><span>Low:</span></th>
                <td><span>@Model[0].GetLowWithUnits(units)</span></td>
            </tr>
            @foreach (var advisory in Model[0].GetAdvisories())
            {
                <tr>
                    <td colspan="4">@advisory</td>
                </tr>
            }
        </table>
    </div>

    <div class="four-day-weather">
        @for (int i = 1; i < Model.Count; i++)
        {
            <div class="daily-weather">
                <table>
                    <tr><td colspan="2"><h2>Day @(i + 1)</h2></td></tr>
                    <tr><td colspan="2"><img src="~/Content/img/weather/@Model[i].ForecastImageName" /></td></tr>
                    <tr>
                        <th><span>High:</span></th>
                        <td><span>@Model[i].GetHighWithUnits(units)</span></td>
                    </tr>
                    <tr>
                        <th><span>Low:</span></th>
                        <td><span>@Model[i].GetLowWithUnits(units)</span></td>
                    </tr>
                </table>
            </div>
        }
    </div>
</div>

<div id="unit-choice">
    <form method="post" action="@Url.Action("Weather","Home")">
        @if (units.ToLower() == "celsius")
        {
            <input type="radio" name="units" value="Celsius" checked="checked" />
            <span>&#8451;</span>
            <input type="radio" name="units" value="Fahrenheit" />
            <span>&#8457;</span>
        }
        else
        {
            <input type="radio" name="units" value="Celsius" />
            <span>&#8451;</span>
            <input type="radio" name="units" value="Fahrenheit" checked="checked" />
            <span>&#8457;</span>
        }
        <button>Set Units</button>
    </form>
</div>