@model List<NPGeek.Web.Models.Weather>

@{ 
    string units = Request.QueryString["units"];

    if (string.IsNullOrEmpty(units))
    {
        units = Model[0].Units;
    }
}

<div>
    <form method="post" action="@Url.Action("Weather","Home")">
        @if (units.ToLower() == "celsius")
        {
            <input type="radio" name="units" value="Celsius" checked="checked" />
            <span>&#8451;</span>
            <input type="radio" name="units" value="Fahrenheit" />
            <span>&#8457;</span>
        }
        else
        {
            <input type="radio" name="units" value="Celsius" />
            <span>&#8451;</span>
            <input type="radio" name="units" value="Fahrenheit" checked="checked" />
            <span>&#8457;</span>
        }
        <button>Set Units</button>
    </form>
</div>

<div class="today-weather">
    <h1>Today</h1>
    <img src="~/Content/img/weather/@Model[0].ForecastImageName" />
    <p>
        <span>High:</span>
        <span>@Model[0].GetHighWithUnits(units)</span>

        <span>Low:</span>
        <span>@Model[0].GetLowWithUnits(units)</span>
    </p>
    @foreach (var advisory in Model[0].GetAdvisories())
    {
        <p>@advisory</p>
    }
</div>
<div class="four-day-weather">
    @for (int i = 1; i < Model.Count; i++)
    {
        <img src="~/Content/img/weather/@Model[i].ForecastImageName" />
        <p>
            <span>High:</span>
            <span>@Model[i].GetHighWithUnits(units)</span>

            <span>Low:</span>
            <span>@Model[i].GetLowWithUnits(units)</span>

        </p>
    }
</div>