
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>

<body>
    <header>
        <div id="logobanner">
            <div class="container-width">

                <img id="logo" src="~/Content/img/logo.png" />
            </div>
        </div>
        <nav class="buttons">
            <div class="container-width">
                <div class="buttonscontainer">
                    <a href="@Url.Action("Index","Home")"><div id="button">Home</div></a>
                    <a href="@Url.Action("Index","Survey")"><div id="button">Survey</div></a>
                </div>
            </div>
        </nav>
        

    </header>

    <div class="container-width">
        <div id="content">
            @RenderBody()
        </div>
        <footer>
            <img src="~/Content/img/geek.png" />
            <span>&copy; @DateTime.Now.Year Craig and Jason &lt;TEAM 5&gt;</span>
            <img src="~/Content/img/scenery.png" />

        </footer>
    </div>
</body>

</html>
